/* ensure all pages have Bootstrap CSS */
@import '~bootstrap/dist/css/bootstrap.min.css';

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.md-container {
  max-width: 800px;
  padding-top: 2rem;
}

.sml-card {
  width: 22rem;
  margin: 1rem 0;
}

.cntr-footer {
  height: 80px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #ccc;
}

.sml-logo {
  height: 1em;
  margin-left: 10px;
}

/******************************/
/******************************/
/******************************/
/******************************/

body { background-color: lightslategray; border-top: 2px solid black; }

.app { text-align: center; }

.app-logo { height: 57px; width: 57px; margin:0px; pointer-events: none;
      vertical-align: middle; border-radius: 25px; margin-right: 10px; }

@media (prefers-reduced-motion: no-preference) {
    .app-logo { animation: app-logo-spin infinite 20s linear; }
}
@keyframes app-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.app-header { background-color: #282c34; border-top: 30px solid #f1f1d4;
    display: flex; flex-direction: column; align-items: center;
    justify-content: center; color: white; margin-top: 8px; }

.app-header h2 { font-size: 24px; line-height: 120px; margin:0px; }

.dash-btn { padding:4px 10px; border-radius:4px;
    cursor: pointer; margin: 4px; }

span { margin-left: 10px; color: #444; }

#sticky-btn-spacer { margin: 0 0 0 20px; }

.sticky-wrap { margin:0px auto; padding-top:20px; background: #f1f1d4; }

#sticky-notes { border-top:8px solid lightslategray; 
    border-bottom: 38px solid #f1f1d4; margin-top:20px; }

.sticky-note { height: 200px; width: 200px; color: #7f6c04; background: #f9dd45;
    border-radius: 10px; border: 0px; font-family: Helvetica, Arial, sans-serif;
    font-size: 13px; box-shadow: 2px 2px 10px rgba(0,0,0,0.4); overflow: hidden;
    margin: 20px 20px 0px; display: inline-block; }

.sticky-title { font:20px bold; text-align: center; padding: 6px 0px; margin: 0px; 
    height:24px; width: 200px; border:none; border-bottom: 1px solid gray; }

.sticky-body { font-size: 16px; margin: 0px; padding: 10px; text-align: left; 
    height: 143px; width: 180px; border: none; }

.contents { background: #f9e055; margin: 20px; outline: none; }

.handle { cursor: move; background: #7f6c04; border-radius: 8px 8px 0px 0px; }
.handle .close { cursor: pointer }

#save { margin-left: 7px; }

html body .sticky-note div.close { color: #3d3402; opacity: 1;
    text-shadow: 1px 0px 1px #a08805; padding: 2px; }

#main-footer { clear: both; }
